# Caches.
**/__pycache__/
**/.DS_Store
**/.vscode

# Virtualenv.
/wiki-search/

# Downloads.
/CompressedDownloads/
/WikipediaData/

# Models.
/bert*
/hkunlp*
/sentence-transformers*
/TinyLlama*
/meta-llama*

# Database(s).
/data
/vector_data
/bag_of_words
/metadata
/test-temp

# Preprocess state files.
preprocess_state_bow.txt
preprocess_state_vector.txt
generate_cache_state.txt
generate_tfidf_state.txt
generate_idf_state.txt